<div class="container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Web application">
            </div>
        </div>
        <div class="form-group">
                <label for="inputOverview">Overview</label>
                <input type="text" class="form-control" id="inputOverview" placeholder="Summary about the course">
            </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea type="text" class="form-control" id="inputDescription" placeholder="..."></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPrice">Price</label>
                <input type="text" class="form-control" id="inputPrice" placeholder="100,000 VND">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Main Cate</label>
                <select id="inputState" class="form-control">
                    <option selected>Development</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Sub Cate</label>
                <select id="inputState" class="form-control">
                    <option selected>Web development</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>