<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    {{#each this.categories}}
    <a href="/details/get/{{ID}}"><button type="button" class="btn btn-danger btn-lg fs-1">{{Title}}</button></a>
    {{/each}}
</div>