<style>
  @media screen and (min-width: 1000px){
    #textInput{
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
  }
</style>

<div class="container py-2">
    <form method="post" id="frmLogin" class=" fs-5">
        <h3 class="text-center pb-5 px-5">Account Login</h3>

        <div class="form-outline mb-4 px-5" id="textInput">
            <label class="form-label" for="username">Username</label>
            <div class="input-group flex-nowrap">
                <i class="fa-solid fa-user absolute fa-lg pt-3 px-2 border border-1 rounded-start border-info" aria-hidden="true"></i>
                <input type="text" name="username" id="username" class="form-control border border-1 border-info" autofocus/>
            </div>
        </div>

        <div class="form-outline mb-4 px-5" id="textInput">
            <label class="form-label" for="password">Password</label>
            <div class="input-group flex-nowrap">
                <i class="fa fa-lock  absolute fa-lg pt-3 px-2 border border-1 rounded-start border-info" aria-hidden="true"></i>
                <input type="password" name="password" id="password" class="form-control border border-1 border-info" />
            </div>
        </div>

        <div class="row mb-4 px-5"  id="textInput">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox" checked />
                    <label class="form-check-label" for="checkbox"> Remember me </label>
                </div>
                <a href="#"  class="text-secondary">Forgot password?</a>
            </div>
        </div>

        <div class="text-center px-5">
            <button id="btnSignIn" type="submit" class="btn btn-secondary text-light w-auto btn-block btn-lg mb-4">Sign in</button>
        </div>

        <div class="text-center px-5">
            <p>Not a member? <a href="/signup" class="text-secondary">Register</a></p>
            <p>or sign in with:</p>
            <button type="button" class="btn btn-link btn-floating btn-lg mx-1">
            <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating btn-lg mx-1" >
            <a href="/auth/google"><i class="fab fa-google text-danger"></i></a>
            </button>

            <button type="button" class="btn btn-link btn-floating btn-lg mx-1">
            <i class="fab fa-twitter text-info"></i>
            </button>
        </div>
    </form>
</div>
