<div class="flex">
    <img src="public/images/library.jpg" class="img-thumbnail" alt="">
</div>
<div class="container">
    <p class="fs-1 text-center fw-bold text-danger ">THIS IS TITTLE</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nemo, nulla suscipit aut reprehenderit sapiente facere quod error cupiditate fugit repudiandae velit earum voluptatem perferendis. Ratione incidunt hic laudantium nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nemo, nulla suscipit aut reprehenderit sapiente facere quod error cupiditate fugit repudiandae velit earum voluptatem perferendis. Ratione incidunt hic laudantium nihil.</p>
</div>