<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  @media screen and (min-width: 1000px){
    #textInput{
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
  }
</style>

<div class="container py-2">
    <form method="post" id="frmRegister" class=" fs-5">
        <h3 class="text-center py-3 px-5">Account Register</h3>

        <div class="form-outline mb-3 px-5" id="textInput">
            <label class="form-label" for="username" >Username</label>
            <div class="input-group flex-nowrap">
                <i class="fa-solid fa-user absolute fa-lg pt-3 px-2 border border-1 rounded-start border-info" aria-hidden="true"></i>
                <input type="text" name="username" id="username" class="form-control border border-1 border-info" autofocus/>

            </div>
        </div>

        <div class="form-outline mb-3 px-5" id="textInput">
            <label class="form-label" for="email" >Email</label>
            <div class="input-group flex-nowrap">
                <i class="fa fa-envelope absolute fa-lg pt-3 px-2 border border-1 rounded-start border-info" aria-hidden="true"></i>
                <input type="email" name="email" id="email" class="form-control border border-1 border-info" autofocus/>
            </div>
        </div>

        <div class="form-outline mb-5 px-5" id="textInput">
            <label class="form-label" for="password">Password</label>
            <div class="input-group flex-nowrap">
                <i class="fa fa-lock  absolute fa-lg pt-3 px-2 border border-1 rounded-start border-info" aria-hidden="true"></i>
                <input type="password" name="password" id="password" class="form-control border border-1 border-info" />
            </div>
        </div>

        <div class="text-center mb-3 px-5">
            <button id="btnSignUp" type="submit" class="btn btn-secondary text-light w-auto btn-block btn-lg mb-3">Sign up</button>
        </div>
        <div id="empty" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            All Fields Need To Be Filled!
        </div>
        <div id="minLength" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            Password Must Be At Least 5 Characters!
        </div>
         <div id="existed" hidden style="margin: 0 auto; width:40%; font-size:12px; text-align:center"class="alert alert-danger" role="alert">
            This Email Is Already Existed!
        </div>
    
        <div class="text-center px-5 ">
            <p>Already have an account? <a href="/login" class="text-secondary">Login</a></p>
        </div>
    </form>
</div>


<script type="text/javascript">  
$('#btnSignUp').click(function(e){
  var check = false;
  $('#existed').attr('hidden','');
  $('#empty').attr('hidden','');
  $('#minLength').attr('hidden','');
  const email = $('#email').val();
  const username = $('#username').val();
  const password = $('#password').val();
  if (email.length === 0 || username.length === 0 || password.length === 0){  
    $('#empty').removeAttr('hidden');
    e.preventDefault();
  } else if (password.length < 5) {
    $('#minLength').removeAttr('hidden');
    e.preventDefault();
  } else {
    $.getJSON(`/is-available?email=${email}`, function (data) {
    if (data === true) {
      $('#existed').removeAttr('hidden');
      e.preventDefault();
    }
  }); 
  }
});  
</script>  