<div class="d-flex">
    <div class="sidebarsSettings fs-5" style="min-height: 100vh; min-height: -webkit-fill-available;">
        <div class="mainContent d-flex flex-nowrap"style="height: 100vh; height: -webkit-fill-available; max-height: 100vh;  overflow-x: auto; overflow-y: hidden;">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px">
                <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                            Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                            Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                            Categories
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                            Courses
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                            Users
                            </a>
                        </li>
                    </ul>
                <hr />
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"/>
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
            <div class="b-example-divider b-example-vr">
            </div>
        </div>
    </div>
    <div class="container">
        <dic class="d-flex flex-column">
            <h2 class="mt-3 ml-5">Your Course</h2>
            <hr/>
            <div class="text-end" style="padding-right: 15px;">
                <button class="btn btn-secondary text-white rounded-pill btn-sm" type="submit" style="width: 7%;">
                    <i class="fa-solid fa-plus"></i>
                    Create
                </button>
            </div>
            <div class="d-flex flex-column pt-3">
                <div class="d-flex flex-row shadow py-3">
                    <img src="https://th.bing.com/th/id/R.b3532fc42260a3bee28e30bf2e46715c?rik=PYAvlb51kKIMGw&pid=ImgRaw&r=0" alt="imageCourse" class="py-2 ms-2" style="width: 15%;"/>
                    <div class="d-flex justify-content-between h-75" style="width: 100%; padding-right: 15px;">
                        <div class="d-flex flex-column ps-4">
                            <div>Web-Development</div>
                            <div>Views: 3000</div>
                            <div>Lecture: Anh Hao</div>
                        </div>
                        <div class="d-flex flex-column text-end">
                            <div>Update: 12-14-2022</div>
                            <div>Status: Finish</div>
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm ms-1" style="width: auto;">Remove</button>
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm me-1" style="width: auto;">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row shadow py-3">
                    <img src="https://th.bing.com/th/id/OIP.HwY2nIEoeJ8lo28qbMaIcgHaDt?pid=ImgDet&rs=1" alt="imageCourse" class="py-2 ms-2" style="width: 15%;"/>
                    <div class="d-flex justify-content-between h-75" style="width: 100%; padding-right: 15px;">
                        <div class="d-flex flex-column ps-4">
                            <div>Java</div>
                            <div>Views: 2500</div>
                            <div>Lecture: Gia Hai</div>
                        </div>
                        <div class="d-flex flex-column text-end">
                            <div>Update: 12-09-2022</div>
                            <div>Status: Incomplete</div>
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm ms-1" style="width: auto;">Remove</button>
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm me-1" style="width: auto;">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row shadow py-3">
                    <img src="https://th.bing.com/th/id/OIP.Sby-NwKxq0-EPFhYe_JnHQHaEK?pid=ImgDet&rs=1" alt="imageCourse" class="py-2 ms-2" style="width: 15%;"/>
                    <div class="d-flex justify-content-between h-75" style="width: 100%; padding-right: 15px;">
                        <div class="d-flex flex-column ps-4">
                            <div>Internet of things</div>
                            <div>Views: 1200</div>
                            <div>Lecture: Hoang</div>
                        </div>
                        <div class="d-flex flex-column text-end">
                            <div>Update: 11-27-2022</div>
                            <div>Status: Finish</div>
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm ms-1" style="width: auto;">Remove</button>
                                <button class="btn btn-secondary fs-5 text-white rounded btn-sm me-1" style="width: auto;">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center pt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" style="color: se;">
                                <a class="page-link text-dark fs-5" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="page-item"><a class="page-link text-dark fs-5" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-dark fs-5" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark fs-5" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link text-dark fs-5" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>