<div style="width: 90%; margin: 0 auto">
    <div style="padding: 0 32px 0">
        <h2>10,000 result for "..."</h2>
        <div
            style="display: flex; flex-wrap: wrap; row-gap: .8rem; margin: 0 -.4rem"
        >
            <button
                class="btn btn-outline-success"
                type="submit"
                style="margin: 0 .4rem"
            ><i class="fa fa-filter" aria-hidden="true"></i>Filter</button>
            <div class="dropdown">
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Most Relevant</a></li>
                    <li><a class="dropdown-item" href="#">Most Reviewed</a></li>
                    <li><a class="dropdown-item" href="#">Highest Rated</a></li>
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display: flex">
        <div style="flex: 1">
            <div class="container-fluid">
                <div class="row" id="fs_app">
                    <section class="col-12" id="fs_header_bar">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                        </div>
                    </section>

                    <section class="col-12" id="fs_price_body">
                        <div>
                            <span class="heading">
                                By Price
                            </span>
                            <div class="row">
                                <div class="col-4">
                                    <button
                                        class="btnT"
                                        type="button"
                                    >&dollar;</button>
                                </div>
                                <div class="col-4 active">
                                    <button
                                        class="btnT"
                                        type="button"
                                    >&dollar;&dollar;</button>
                                </div>
                                <div class="col-4">
                                    <button
                                        class="btnT"
                                        type="button"
                                    >&dollar;&dollar;&dollar;</button>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="line1"></div>
                            <div>
                                <ul>
                                    <li>$25</li>
                                    <li>$50</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="col-12" id="fs_distance_body">
                        <span class="heading">
                            By Distance
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>From 1 km to 3 km</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>From 4 km to 7 km</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                                <li>
                                    <span>From 8 km to 10 km</span>
                                    <span class="text-right"></span>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="col-12" id="fs_time_body">
                        <span class="heading">
                            By Time
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>Less than 30 Min</span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>30 Min - 45 Min</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>45 Min - 55 Min</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="col-12" id="fs_rating">
                        <span class="heading">
                            By Rating
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>

        </div>
        <div className="d-flex" style="flex: 3">
            <div
                className="searchCourse"
                style="border: 1px solid lightgray;
                        padding: 10px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        margin-bottom: 20px;"
            >
                <img
                    src="https://cf.bstatic.com/xdata/images/hotel/square600/261707778.webp?k=fa6b6128468ec15e81f7d076b6f2473fa3a80c255582f155cae35f9edbffdd78&o=&s=1"
                    alt=""
                    className="scImg"
                    style="width: 200px; height: 200px; object-fit: cover"
                />
                <div
                    style="display: flex; flex-direction: column; flex: 2; gap: 10px"
                >
                    <h1 style="font-size: 30px; color: #0071c2;">Title</h1>
                    <span className="siSubtitle">subTitle</span>
                    <span className="scTeacher">Teacher</span>
                    <span className="scNumbersStudent">12 students</span>
                </div>
                <div
                    style="flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;"
                >
                    <div style="display: flex; justify-content: space-between;">
                        <span>Excellent</span>
                        <button>8.9</button>
                    </div>
                    <div
                        style="text-align: right;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;"
                    >
                        <span className="fs-4">$112</span>
                        <button type="button" class="btn btn-primary btn-lg">See
                            availability</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>